<div class="map-container">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3723.6481327736824!2d105.78384277557069!3d21.046760587159493!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3135ab2d88bb4195%3A0x3006e474cce20274!2zSOG7jWMgdmnhu4duIEvhu7kgdGh14bqtdCBRdcOibiBz4bux!5e0!3m2!1svi!2s!4v1735456070504!5m2!1svi!2s"
            class="gmap_iframe"
            allowfullscreen=""
            loading="lazy"
            referrerpolicy="no-referrer-when-downgrade">
    </iframe>
</div>

<style>
    /* Đặt kích thước cho div chứa iframe */
    .map-container {
        position: relative;
        width: 100%; /* Chiếm toàn bộ chiều rộng màn hình */
        height: 30vh; /* Chiều cao bằng 100% chiều cao cửa sổ trình duyệt */
        overflow: hidden; /* Đảm bảo không có cuộn */
    }

    /* Thiết lập kích thước cho iframe */
    .gmap_iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%; /* Chiều rộng đầy đủ */
        height: 100%; /* Chiều cao đầy đủ */
        border: none; /* Loại bỏ viền */
    }
</style>


<!-- Map End -->
<!-- Contact Section Begin -->
<section class="contact spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6">
                <div class="contact__text">
                    <div class="section-title">
                        <span>Thông tin</span>
                        <h2>Liên hệ với chúng tôi</h2>
                        <p>
                            Chúng tôi luôn tận tâm mang đến cho bạn những trải nghiệm và dịch vụ tốt nhất. Mọi thắc mắc hay góp ý, hãy liên hệ với chúng tôi!
                        </p>
                    </div>
                    <ul>
                        <li>
                            <h4>Chi nhánh Hà Nội</h4>
                            <p>234 Hoàng Quốc Việt, Cổ Nhuế 1, Bắc Từ Liêm, Hà Nội <br />+84 345-423-9893</p>
                        </li>
                    </ul>
                </div>
            </div>
             
        </div>
    </div>
</section>
<!-- Contact Section End -->

