@model string   
<div class="hero__items set-bg" data-setbg="@Model">
    <div class="container">          
        <div class="row"> 
            <div class="col-xl-5 col-lg-7 col-md-8">
                <div class="hero__text">
                    <br></br>
                    <br></br>
                    <br></br>
                    <br></br>
                    <br></br>
                    <br></br>
                    <br></br>
                    <br></br>
                    @Html.ActionLink(
                             "Mua ngay",
                             "Menu",
                             "Home",
                             null,
                             new { @class = "primary-btn", @dangerouslySetInnerHTML = "true" })                    <div class="hero__social">
                        <a href="#"><i class="fa fa-facebook"></i></a>
                        <a href="#"><i class="fa fa-twitter"></i></a>
                        <a href="#"><i class="fa fa-pinterest"></i></a>
                        <a href="#"><i class="fa fa-instagram"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
